* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.containerindex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 80vh;
  background-image: url(imagenes//buqueindex.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  border: black 2px solid;
}
.containerindex .containerindex__tituloIndex {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px #000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.containerindex .containerindex__textoindex {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 6px #000;
}
.containerindex .containerindex__textoindex span {
  color: gold;
}

.carousel-inner2 {
  width: 100%;
  height: 40vh;
}

.imagen1 {
  width: 100%;
  height: 40vh;
  background-image: url(imagenes/nosotros.jpg);
  background-position: center;
  background-size: cover;
}
.imagen1 .aside__motivacion {
  color: white;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
.imagen1 span {
  color: gold;
}

.imagen2 {
  width: 100%;
  height: 40vh;
  background-image: url(imagenes/impo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imagen2 .aside__motivacion {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  text-align: center;
}
.imagen2 .aside__motivacion span {
  color: gold;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  background-color: black;
  width: 100%;
  height: 15vh;
}
.footer .titulofooter {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.footer .redesFooter {
  background-color: white;
}

.nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 80vh;
  background-image: url(imagenes//nosotros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  border: black 2px solid;
}
.nosotros .nosotros__titulo-nosotros {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px #000;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nosotros .nosotros__info-nosotros {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 6px #000;
}
.nosotros .nosotros__info-nosotros span {
  color: gold;
}

.cards {
  background-color: black;
}
.cards .cards__card1 {
  color: gold;
  background-color: gray;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}
.cards .cards__card1 .sub {
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
}

.reconocimientos {
  display: flex;
  width: 100%;
  height: 80px;
  color: white;
  background-color: black;
  font-family: "Ultra", serif;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.oficinas {
  width: 100%;
  height: 40vh;
  background-color: white;
}
.oficinas h3 {
  display: flex;
  width: 100%;
  height: 80px;
  color: white;
  background-color: black;
  font-family: "Ultra", serif;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.oficinas .oficinas__arg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: royalblue;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}
.oficinas .oficinas__arg .titulosofi {
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
.oficinas .oficinas__arg .emails {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.containerServicios {
  display: flex;
  flex-direction: column;
  background-image: url(imagenes//containers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.containerServicios .containerServicios__titulo-servicios {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px #000;
  margin-top: 100px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.seccion {
  flex-direction: row;
  flex-wrap: wrap;
}
.seccion .seccion__logistica {
  border-right: black 1px solid;
  width: auto;
  height: 30vh;
}
.seccion .seccion__logistica .title-logistica {
  color: white;
  font-family: "Ultra", serif;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.seccion .seccion__logistica .texto-logistica {
  color: #2e2e2e;
  text-align: center;
  font-size: 18px;
}
.seccion .seccion__cliente {
  background-color: white;
  width: auto;
  height: 30vh;
}
.seccion .seccion__cliente .title-cliente {
  color: white;
  font-family: "Ultra", serif;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}
.seccion .seccion__cliente .texto-cliente {
  color: #2e2e2e;
  text-align: center;
  font-size: 18px;
}

.container-contacto {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  border-bottom: white 3px solid;
}
.container-contacto .container-contacto__contactoTitulo {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.container-contacto .datos {
  color: white;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}
.container-contacto .consulta {
  text-align: center;
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
}
.container-contacto .consulta .formconsulta {
  text-align: center;
  margin-bottom: 15px;
}
.container-contacto .terminos {
  text-align: center;
  margin-top: 15px;
  color: white;
  text-transform: uppercase;
  margin-right: 45px;
}

.sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/mar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sesion .sesion__iniciarsesion {
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.sesion .formuinicio__email {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

@media only screen and (min-width: 360px) {
  .containerindex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(imagenes//buqueindex.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border: black 2px solid;
  }
  .containerindex .containerindex__tituloIndex {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .carousel-inner2 {
    width: 100%;
    height: 40vh;
  }

  .imagen1 {
    width: 100%;
    height: 40vh;
    background-image: url(imagenes/nosotros.jpg);
    background-position: center;
    background-size: cover;
  }
  .imagen1 .aside__motivacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: -140px;
    margin-top: -100px;
    color: white;
    font-size: 40px;
  }
  .imagen1 span {
    color: gold;
  }

  .imagen2 {
    width: 100%;
    height: 40vh;
    background-image: url(imagenes/impo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .imagen2 .aside__motivacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: -60px;
    margin-top: -130px;
    color: white;
    font-size: 40px;
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(imagenes//nosotros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border: black 2px solid;
  }
  .nosotros .nosotros__titulo-nosotros {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nosotros .nosotros__info-nosotros {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px #000;
  }

  .cards {
    background-color: black;
  }
  .cards .cards__card1 {
    display: flex;
    flex-direction: column;
    color: gold;
    background-color: gray;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
  .cards .cards__card1 .sub {
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
  }

  .oficinas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
  }
  .oficinas .oficinas__arg {
    align-items: center;
    background-color: royalblue;
  }
  .oficinas .titulosofi {
    margin-top: 30px;
  }
  .oficinas .maps {
    display: none;
  }

  .containerServicios {
    display: flex;
    flex-direction: column;
    background-image: url(imagenes//containers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  .containerServicios .containerServicios__titulo-servicios {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    margin-top: 80px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .containerServicios .containerServicios__info-servicios {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px #000;
  }
  .containerServicios .containerServicios__info-servicios span {
    color: gold;
  }

  .seccion {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .seccion .seccion__logistica {
    background-color: royalblue;
    border-right: black 1px solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
  .seccion .seccion__logistica .title-logistica {
    color: white;
    font-family: "Ultra", serif;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .seccion .seccion__logistica .texto-logistica {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .seccion .seccion__cliente {
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
  .seccion .seccion__cliente .title-cliente {
    color: white;
    font-family: "Ultra", serif;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .seccion .seccion__cliente .texto-cliente {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .containerContacto {
    background-color: royalblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: white 3px solid;
  }
  .containerContacto .registro {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .containerContacto .registro .registro__datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    align-items: center;
  }
  .containerContacto .consulta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    color: white;
    font-family: "Ultra", serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 18px;
  }
  .containerContacto .formconsulta {
    text-align: center;
    margin-bottom: 15px;
  }
  .containerContacto .textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
  }
}
@media only screen and (min-width: 768px) {
  .containerindex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(imagenes//buqueindex.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border: black 2px solid;
  }
  .containerindex .containerindex__tituloIndex {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(imagenes//nosotros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border: black 2px solid;
  }
  .nosotros .nosotros__titulo-nosotros {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nosotros .nosotros__info-nosotros {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px #000;
  }

  .cards {
    background-color: black;
  }
  .cards .cards__card1 {
    display: flex;
    flex-direction: column;
    color: gold;
    background-color: gray;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }

  .containerServicios {
    display: flex;
    flex-direction: column;
    background-image: url(imagenes//containers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  .containerServicios .containerServicios__titulo-servicios {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    margin-top: 100px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .containerServicios .containerServicios__info-servicios {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px #000;
  }

  .seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .seccion .seccion__logistica {
    border-right: black 1px solid;
    width: 100%;
    height: 200px;
  }
  .seccion .seccion__logistica .title-logistica {
    color: white;
    font-family: "Ultra", serif;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  .seccion .seccion__logistica .title-logistica .texto-logistica {
    color: #2e2e2e;
    text-align: center;
    font-size: 18px;
  }
  .seccion .seccion__cliente {
    border-right: black 1px solid;
    width: 100%;
    height: 200px;
  }
  .seccion .seccion__cliente .title-cliente {
    color: white;
    font-family: "Ultra", serif;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  .seccion .seccion__cliente .texto-cliente {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: -15px;
  }
}
@media only screen and (min-width: 1200px) {
  .containerindex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(imagenes//buqueindex.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border: black 2px solid;
  }
  .containerindex .containerindex__tituloIndex {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @-webkit-keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(imagenes//nosotros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    border: black 2px solid;
  }
  .nosotros .nosotros__titulo-nosotros {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nosotros .nosotros__info-nosotros {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px #000;
  }

  .oficinas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
  }
  .oficinas .oficinas__arg {
    align-items: center;
  }
  .oficinas .titulosofi {
    margin-top: 10px;
  }
  .oficinas .maps {
    display: flex;
  }

  .containerServicios {
    display: flex;
    flex-direction: column;
    background-image: url(imagenes//containers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  .containerServicios .containerServicios__titulo-servicios {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000;
    margin-top: 100px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .containerServicios .containerServicios__info-servicios {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 6px #000;
  }

  .seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .seccion .seccion__logistica {
    border-right: black 1px solid;
    width: 100%;
    height: 200px;
  }
  .seccion .seccion__logistica .title-logistica {
    color: white;
    font-family: "Ultra", serif;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  .seccion .seccion__logistica .title-logistica .texto-logistica {
    color: #2e2e2e;
    text-align: center;
    font-size: 18px;
  }
  .seccion .seccion__cliente {
    border-right: black 1px solid;
    width: 100%;
    height: 200px;
  }
  .seccion .seccion__cliente .title-cliente {
    color: white;
    font-family: "Ultra", serif;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
  }
  .seccion .seccion__cliente .texto-cliente {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
}/*# sourceMappingURL=styles.css.map */